@import '~antd/dist/antd.css';

:root {
    --darkblue: #112D4E;
    --blue: #3F72AF;
    --lightblue: #DBE2EF;
    --white: #F9F7F7;
}


.site-page-header {
    background: #1e293b;
    color: #f8fafc;
}
.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--white);
}
.section {
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.mask {
    background: var(--darkblue);
}
.mask .ant-list-item-meta-title,
.mask .ant-list-item-meta-description {
    color: var(--darkblue);
}
.active {
    background: var(--white);
}

.container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.active .ant-list-item-meta-title  ,
.active .ant-list-item-meta-description {
    color:black !important;
}
.content {
    display: flex;
    height: calc(100vh - 2rem);
    justify-content: center;
    align-items: stretch;
}
.list-main {
    width: 60vw;
    overflow: auto;
    padding: 0 0.5rem;
}
.mask .list-main {
    overflow: hidden;
}
.list-tucao {
    padding: 0 0.5rem;
    width: 30vw;
    display: none;
    overflow: auto;
}
.ant-list-split .ant-list-item {
    border-bottom:unset;
}
.list-main::-webkit-scrollbar,
.list-tucao::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.header {
    height: 2rem;
    width: 100vw;
    background: var(--darkblue);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list-tucao.display-tucao {
    display: block;
}
.display-tucao.list-main  {
    overflow: hidden;
}
.headerR {
    flex:1;
    display: flex;
    justify-content: right;
}
.headerL {
    flex:1;
    display: flex;
    justify-content: left;
}
.headerC {
    flex:1;
    display: flex;
    justify-content: center;
}

.headerTitle {
    font-size: 30px;
}
